<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark">
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none link-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="#75ba21" class="bi bi-bank2 me-2" viewBox="0 0 16 16">
            <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5z" />
          </svg>
          <span class="text-white">&copy; 2023 EcoClean Luanda, Inc</span>
        </a>

        <ul class="nav col-md-4 justify-content-end link-light">
          <li class="nav-item">
            <a href="#" class="nav-link link-light px-2">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-light px-2">Perfil</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-light px-2">Contentores</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-light px-2">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>