{% extends 'esqueleto.html' %}

{% block titulo %}
  <title>Eco Clean Luanda | Ver venda</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h3 class="mt-3 w-75 mx-auto text-success">Dados vendedor</h3>
      <!-- Form vendedor -->
      <form class="mt-3 w-75 mx-auto">
        {% csrf_token %}
        <div class="mb-3">
          <label for="fullname" class="form-label">Nome completo</label>
          {{ form1.nome_completo }}
          {% if form1.errors.nome_completo %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.nome_completo|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          {{ form1.email }}
          {% if form1.errors.email %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.email|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="phonenumber" class="form-label">Número de telefone</label>
          {{ form1.telefone }}
          {% if form1.errors.telefone %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.telefone|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="province" class="form-label">Província</label>
          {{ form1.provincia }}
          {% if form1.errors.provincia %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.provincia|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Endereço</label>
          {{ form1.endereco }}
          {% if form1.errors.endereco %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.endereco|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="recyclable_material" class="form-label">Tipo de material reciclável</label>
          {{ form1.tipo_material_reciclavel }}
          {% if form1.errors.tipo_material_reciclavel %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.tipo_material_reciclavel|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantidade</label>
          {{ form1.quantidade }}
          {% if form1.errors.quantidade %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.quantidade|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="product_description" class="form-label">Descrição do produto</label>
          {{ form1.descricao }}
          {% if form1.errors.descricao %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.descricao|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="weight" class="form-label">Peso Total (kg)</label>
          {{ form1.peso_total }}
          {% if form1.errors.peso_total %}
            <div class="invalid-feedback d-block text-start">{{ form1.errors.peso_total|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <h3 class="mt-3 w-75 mx-auto text-success">Dados comprador</h3>
      <!-- Form comprador -->
      <form class="mt-3 w-75 mx-auto">
        {% csrf_token %}
        <div class="mb-3">
          <label for="fullname" class="form-label">Nome completo</label>
          {{ form2.nome_completo }}
          {% if form2.errors.nome_completo %}
            <div class="invalid-feedback d-block text-start">{{ form2.errors.nome_completo|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          {{ form2.email }}
          {% if form2.errors.email %}
            <div class="invalid-feedback d-block text-start">{{ form2.errors.email|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="phonenumber" class="form-label">Número de telefone</label>
          {{ form2.telefone }}
          {% if form2.errors.telefone %}
            <div class="invalid-feedback d-block text-start">{{ form2.errors.telefone|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="province" class="form-label">Província</label>
          {{ form2.provincia }}
          {% if form2.errors.provincia %}
            <div class="invalid-feedback d-block text-start">{{ form2.errors.provincia|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Endereço</label>
          {{ form2.endereco }}
          {% if form2.errors.endereco %}
            <div class="invalid-feedback d-block text-start">{{ form2.errors.endereco|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="recyclable_material" class="form-label">Tipo de material reciclável</label>
          {{ form2.tipo_material_reciclavel }}
          {% if form2.errors.tipo_material_reciclavel %}
            <div class="invalid-feedback d-block text-start">{{ form2.errors.tipo_material_reciclavel|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantidade desejada</label>
          {{ form2.quantidade_desejada }}
          {% if form2.errors.quantidade_desejada %}
            <div class="invalid-feedback d-block text-start">{{ form2.errors.quantidade_desejada|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="product_description" class="form-label">Descrição do produto desejado</label>
          {{ form2.descricao }}
          {% if form2.errors.descricao %}
            <div class="invalid-feedback d-block text-start">{{ form2.errors.descricao|striptags }}</div>
          {% else %}
            <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>

  <h3 class="mt-3 w-75 mx-auto text-success">Dados venda</h3>
  <!-- Form venda -->
  <form class="mt-3 w-75 mx-auto">
    {% csrf_token %}
    <div class="mb-3">
      <label for="valor" class="form-label">valor</label>
      {{ form3.valor }}
      {% if form3.errors.valor %}
        <div class="invalid-feedback d-block text-start">{{ form3.errors.valor|striptags }}</div>
      {% else %}
        <div class="valid-feedback {{ feedback }} text-start">Parece bom!</div>
      {% endif %}
    </div>
  </form>

  <div class="mb-3 w-75 mx-auto">
    <button onclick="location.href=`{% url 'vendas' %}`" class="btn btn-primary">Voltar</button>
  </div>
{% endblock %}
